<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Язык курса</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">

<div th:insert="fragments/navbar :: navbar"> </div>

<div id="layoutSidenav">

    <div th:insert="fragments/navbar :: side_navbar"> </div>
    
    <div id="layoutSidenav_content">
        <main>

            <div class="container-fluid px-4">

                <h1 class="mt-4">Язык курса</h1>
                <a class="" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCreateForm" aria-expanded="false" aria-controls="collapseLayouts">
                    <button type="button" class="btn btn-secondary my-2">Добавить</button>
                </a>
                <div class="collapse" id="collapseCreateForm" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <form class="col card p-3 mb-2" method="post" th:action="@{/admin/course_language/}" th:object="${courseLanguage}">

                        <div class="form-group mb-2">
                            Название<span class="text-danger">*</span>:
                            <input th:field="*{name}" type="text" class="form-control mt-1" required>
                        </div>

                        <button type="submit" class="btn btn-light mt-2">Добавить</button>

                    </form>
                </div>

                <div th:if="${errorMessage}" th:utext="${errorMessage}" class="alert alert-danger" role="alert">
                    This is a danger alert—check it out!
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        База данных
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Название</th>
                                <th>Действия</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Название</th>
                                <th>Действия</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="item : ${courseLanguages}">
                                <td class="align-middle" th:text="${item.name}"></td>
                                <td class="align-middle text-center"><a class="btn btn-secondary" th:href="'/admin/course_language/' + ${item.id}">✏</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script th:src="@{/js/datatables.js}"></script>
</body>
</html>
