<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
            name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Изменить</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body class="container">
<div class="col card p-3 my-5">

    <div th:if="${errorMessage}" th:utext="${errorMessage}" class="alert alert-danger" role="alert">
        This is a danger alert—check it out!
    </div>

    <form id="editForm" th:method="patch" th:action="'/admin/teacher/'+${teacher.id}" th:object="${teacher}">

        <div class="form-group">
            Id
            <input class="form-control" readonly th:field="*{id}" type="text"/>
        </div>

        <div class="form-group">
            Имя<span class="text-danger">*</span>:
            <input th:field="*{firstName}" type="text" class="form-control mt-1" required>
        </div>

        <div class="form-group">
            Фамилия<span class="text-danger">*</span>:
            <input th:field="*{lastName}" type="text" class="form-control mt-1" required>
        </div>

        <div class="form-group">
            Отчество:
            <input th:field="*{middleName}" type="text" class="form-control mt-1">
        </div>

        <div class="form-group">
            Почта<span class="text-danger">*</span>:
            <input th:field="*{email}" type="email" class="form-control mt-1" required>
        </div>

        <div class="form-group">
            Телефон<span class="text-danger">*</span>:
            <input th:field="*{phoneNumber}" type="text" class="form-control mt-1" required>
        </div>

        <div class="form-group">
            День рождения<span class="text-danger">*</span>:
            <input th:field="*{birthdate}" type="date" min="1940-00-00" class="form-control mt-1" required>
        </div>

        <div class="form-group">
            Опыт<span class="text-danger">*</span>:
            <input th:field="*{experience}" type="number" min="0" max="100" class="form-control mt-1" required>
        </div>

        <div class="form-group">
            Примечание:
            <input th:field="*{description}" type="text" class="form-control mt-1">
        </div>

        <div class="form-group">
            Аккаунт:
            <input th:field="*{account.login}" type="text" class="form-control mt-1">
        </div>

    </form>

    <form th:object="${teacher}" id="deleteForm" th:action="'/admin/teacher/'+${teacher.id}" th:method="delete"></form>

    <div class="d-flex">
        <button class="btn btn-success" type="submit" form="editForm">Обновить</button>
        <button type="submit" form="deleteForm" class="btn btn-danger ml-1">🗑</button>
        <a class="btn btn-secondary ml-1" href="/admin/teacher/">Назад</a>
    </div>


</div>

</body>
</html>